.detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .backButton {
    align-self: flex-start;
    margin-bottom: 20px;
    padding: 10px 20px;
    /* background-color: #007bff;
    color: white; */
    background-color: #2c3e50; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    z-index: 10px;
  }
  
  .backButton:hover {
    /* background-color: #0056b3; */
    background-color: #1a252f; 
  }
  
  .detailsContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
    display: flex;
    gap: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .image {
     max-width: 30%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1rem;
    margin: 10px 0;
    color: #555;
  }
  
  p strong {
    font-weight: bold;
    color: #000;
  }
  
  .mrp{
    text-decoration: line-through;
  }

  .cartButton{
    display: block;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: #2c3e50; 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    &:hover{
      background-color: #1a252f;
    }
  }

  .contentdata{
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align:left;
  }
  